.App {
  text-align: center;
}

.nupp {
  background-color: green;
  color: rgb(163, 163, 163);
}

.nupp:hover {
  height: 100px;
}

.nupp:active {
  cursor: grab;
}

.tekst {
  color: blue;
  font-style: italic;
}

.tekst:hover {
  font-size:  24px;
  
}

.tekst2 {
  color: green;
  font-weight: bold;
  -webkit-text-stroke: 1px red;
}

.tekst2:hover {
  -webkit-text-stroke: 1px brown;
}

.pilt {
  height: 200px;
  width: 300px;
  float: right;
}

.pilt:hover {
  border-radius: 10px;
  opacity: 0.2;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: black;
}



.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}