.App {
  text-align: center;
}

.pilt{
  width: 100px;
  /* height: 200px; */
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
  transform: scale(1.1);
}

.pilt:active {
  transform: rotate(5deg);
  /* width: 95px; */
}
.nupp {
  background-color: brown;
  color: beige;
  border-radius: 5px;
}

.nupp:hover {
  cursor: pointer;
  background-color: rgb(230, 83, 83);

}

.nupp:active {
  background-color: rgb(231, 57, 57);
  text-decoration: underline;
}

.navlink:hover img  {
  /* https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(32%) sepia(88%) saturate(7145%) hue-rotate(311deg) brightness(87%) contrast(109%);
}

.nav {
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
}

.navlink span{
  color: white;
}

.navlink:hover span {
color: pink;
}

h1 {
  font-size: 3.5rem;
    line-height: 4rem;
}

.ostukorvi-pilt {
  height: 50px;
}

.linn {
  color: #14142b;
    font-family: Inter,Tahoma,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.kingitus {
  height: 100px;
  float: left;
}

.pluss  {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  
}

.miinus  {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

 